<aside class="col-xs-12 col-md-4">
	<div class="cp-sidebar">
		{{> widget-sidebarad}}
		{{> widget-editorspick}}
		{{!> widget-sidebarad}}
		{{> widget-sidebarad2}}
		{{> widget-facebook}}
	</div>
</aside>
