<!-- start widget -->
<section class="widget">
	<span><h5>Advertisement</h5></span>
	<div class="advert">
		<iframe data-aa='649657' src='//ad.a-ads.com/649657?size=300x250' scrolling='no' style='width:300px; height:250px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
	</div>
</section>
<!-- end widget -->
