<!-- start header ad -->
<div class="header-ad pull-right">
	<!-- START AD CODE -->
	<script language="javascript" type="text/javascript" charset="utf-8">
	cpxcenter1522_width = 728;
	cpxcenter1522_height = 90;
	</script>
	<script language="JavaScript" type="text/javascript" src="//serv.clicksor.net/display.php?nid=1522&zone=138511&type=banner&sid=84530&pid=106447&subid=&opt1=&opt2=">
	</script>
	<!-- END AD CODE -->
</div>	
<!-- end header ad -->
