<!-- start header ad -->
<div class="header-ad pull-right">
    <!--[ 728x90 Ad Tag ( gizgeeknews.com ) - MediaCPM // www.mediacpm.pl // ]-->
    <iframe src="//mediacpm.pl/serve/show.php?a=17775&b=728x90" width="728" height="90" frameBorder="0" scrolling="no" marginwidth="0" marginheight="0"></iframe>
    <!--[ End of the Ad Tag - MediaCPM // www.mediacpm.pl // ]-->
</div>
<!-- end header ad -->
