<!-- start widget -->
<section class="widget">
	<div class="advert">

<!-- START AD CODE -->
<script language="javascript" type="text/javascript" charset="utf-8">
cpxcenter1522_width = 300;
cpxcenter1522_height = 250;
</script>
<script language="JavaScript" type="text/javascript" src="//serv.clicksor.net/display.php?nid=1522&zone=138524&type=banner&sid=84534&pid=106447&subid=&opt1=&opt2=">
</script>
<!-- END AD CODE -->

	</div>
</section>
<!-- end widget -->
